{layout '../@layout.latte'}

{block content}
    <div class="col-4"></div>
    <div class="col">
        <!-- /.login-logo -->
        <div class="card mt-5">
            <div class="card-body login-card-body">
                <p class="login-box-msg">{block loginTitle}{/block}</p>
                <div n:foreach="$flashes as $flash" class="alert alert-{$flash->type} alert-dismissible">
                    <span>{$flash->message}</span>
                    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                {block loginContent}{/block}
            </div>
            <!-- /.login-card-body -->
        </div>
    </div>
    <div class="col-4"></div>

{/block}

