{block loginTitle}Přihlášení{/block}
{block loginContent}
{form loginForm}
	<div class="input-group mb-3">
		<input n:name="login" type="email" class="form-control">

		<div class="input-group-append">
			<div class="input-group-text">
				<span class="fas fa-envelope"></span>
			</div>
		</div>
	</div>
	<div class="input-group mb-3">
		<input n:name="password" type="password" class="form-control">
		<div class="input-group-append">
			<div class="input-group-text">
				<span class="fas fa-lock"></span>
			</div>
		</div>
	</div>
	<div class="row">

		<!-- /.col -->
		<div class="col">
			<button n:name="send" type="submit" class="btn btn-primary btn-block">Přihlásit se</button>
		</div>
		<!-- /.col -->
	</div>
{/form}
<p class="pt-3">
	<a href="{link resetPassword}">Zapoměl/a jsem heslo</a>
</p>