{block loginTitle}Nové heslo{/block}
{block loginContent}
{form changePassword}
	<div class="input-group mb-3">
		<input n:name="password" type="password" class="form-control">
		<div class="input-group-append">
			<div class="input-group-text">
				<span class="fas fa-lock"></span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="col-12">
			<button n:name="send" type="submit" class="btn btn-primary btn-block">Změnit heslo</button>
		</div>
		<!-- /.col -->
	</div>
{/form}
<p class="mt-3 mb-1">
	<a href="{link default}">Přihlášení</a>
</p>
