{block loginTitle}Obnovení zapomenutého hesla{/block}
{block loginContent}
{form resetPasswordForm}
    <div class="input-group mb-3">
        <input n:name="login" type="email" class="form-control">
        <div class="input-group-append">
            <div class="input-group-text">
                <span class="fas fa-envelope"></span>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <button n:name="send" type="submit" class="btn btn-primary btn-block">Obnovit heslo</button>
        </div>
        <!-- /.col -->
    </div>
{/form}
<p class="mt-3 mb-1">
    <a href="{link default}">Přihlášení</a>
</p>
