<div class="row">
	<div class="col-5 col-sm-3">
		<div class="nav flex-column nav-tabs h-100" id="vert-tabs-tab" role="tablist" aria-orientation="vertical">
			<a class="nav-link active" id="vert-tabs-home-tab" data-toggle="pill" href="#vert-tabs-home" role="tab" aria-controls="vert-tabs-home" aria-selected="true">Základní informace</a>
			<a class="nav-link" id="vert-tabs-profile-tab" data-toggle="pill" href="#vert-tabs-profile" role="tab" aria-controls="vert-tabs-profile" aria-selected="false">Pro tiskaře</a>
			<a class="nav-link" id="vert-tabs-messages-tab" data-toggle="pill" href="#vert-tabs-messages" role="tab" aria-controls="vert-tabs-messages" aria-selected="false">Pro řidiče</a>
			<a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-settings" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Pro zájemce</a>
			<a class="nav-link" id="vert-tabs-settings-tab" data-toggle="pill" href="#vert-tabs-strediska" role="tab" aria-controls="vert-tabs-settings" aria-selected="false">Střediska</a>
		</div>
	</div>
	<div class="col-7 col-sm-9">
		<div class="tab-content" id="vert-tabs-tabContent">
			<div class="tab-pane text-left fade show active" id="vert-tabs-home" role="tabpanel" aria-labelledby="vert-tabs-home-tab">
				{include 'zakladni.latte'}
			</div>
			<div class="tab-pane fade" id="vert-tabs-profile" role="tabpanel" aria-labelledby="vert-tabs-profile-tab">
				{include 'tiskari.latte'}
			</div>
			<div class="tab-pane fade" id="vert-tabs-messages" role="tabpanel" aria-labelledby="vert-tabs-messages-tab">
				{include 'ridici.latte'}
			</div>
			<div class="tab-pane fade" id="vert-tabs-settings" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
				{include 'zajemci.latte'}
			</div>
			<div class="tab-pane fade" id="vert-tabs-strediska" role="tabpanel" aria-labelledby="vert-tabs-settings-tab">
				{include 'strediska.latte'}
			</div>
		</div>
	</div>
</div>