<h1>Distribuce a sběrná místa</h1>

<p>Nemějte strach a tisknete na plný výkon, své počty zapisujte do inventáře ✔ Kdo bude moct, tak níže jsou uvedené adresy i kontakty na místa kam výtisky svážet. Ostatní budou moci využít objednávku svozu🏎🏎🏎  (pouze od 20ks párů brad a čelenek).</p>

<p>Nejjednodušší pro nás bude pokud tiskaři, kteří mají tu možnost, budou svážet své hotové plasty na jednu z dostupných centrálen. Chceme zamezit zbytečným cestám, takže pokud budete mít vytištěné díly a v okolí bude mít někdo nouzi o štíty, tak při předání plastů na centrále obdržíte již 100% sterilní štíty, které budou samostatně balené v ochranné folii. Pokud nemáte tu možnost, tak na vás apelujeme, ať se zavedete v naší tabulce (https://docs.google.com/spreadsheets/d/1HHsHJd9-q113KW_xGYnsoNXHPgjqFDS7ssTxI4hy0ME/edit?usp=sharing) a jakmile se u vás naskladní dostatečné množství vyrobených plastů (20 páru a víc), tak se u Vás zastaví někdo z týmu TESLA nebo někdo kdo bude mít cestu kolem, proto je absolutně klíčové ve výše zmíněné tabulce zapisovat kolik máte vyrobeno a kolik AKTUÁLNĚ VYRÁBÍTE. Žádáme Vás tímto, abyste do sloupce “ve výrobě” psali pouze to, co je skutečně ve výrobě a bude do pár hodin naskladněno/ připraveno k vyzvednutí.
    Problém distribuce není ještě úplně dokonalý díky omezenému množství centrálen.. Víme o tom a pokusíme se s tím ještě zabojovat. Každopádně teď nám můžete nejvíce pomoci tím, že budete prostě tisknout a zapisovat vše do tabulky, nemějte strach, že by se vaše díly nepoužili!!</p>