<h1>3D tiskem proti COVID-19</h1>

<p>Pojďme 3D tiskem pomoci v boji proti šíření nákazy COVID-19! Chytré hlavy i bez 3D tiskárny vítány. Jsme zde proto, abychom snáze mohli organizovat 3D tiskaři a jiní jim podobní makeři, na výrobě různých pomůcek pro krizové oblasti a širokou veřejnost. Čím víc nás bude, tím víc dokážeme! Tak si přejme hodně štěstí!
</p>

<p>Aktuálně máme 2 centrály, jednu v Praze a jednu v Brně, kde bude probíhat svoz veškerých potřebných dílů pro kompletaci štítů: plasty, plexi, gumičky a obalový materiál. V těchto centrálách budou dodržovány přísná hygienická pravidla 🕵️‍♂️ Nikdo z nás nechce, aby naše snaha nadělala více škody než užitku… proto po kompletaci jednoho štítu zůstane ještě 2-3 dny na centrále (víme, že během 3 dnů na 100% umírají☠☠☠  veškeré bakterie COVID 19). Toto může vést, k počátečnímu zdržení než se nám podaří naskladnit dostatečné množství.. pak se to bude sypat jeden za druhým.🤘🤘🤘</p>

<h3>Pražská centrála</h3>
Hlavní město Praha<br/>
Praha 7, U Průhonu 22<br/>
Tomáš Chvalina 774 149 906<br/>
Dardan Kuqi 608<br/>
NEBO<br/>
Praha 5 U Mrázovky 8<br/>
David David Martinek- 773 776 393

<h3>Brněnská centrála</h3>
Oblá 79<br/>
+420 773 641 115-  Martin Stejskal
<br/>
<h4>Další centrály?</h4>
Nejdřív můsim otestovat provoz 2 centrálen.. pak budeme napojovat další.