<div class="col-6">
	<div class="card bg-light">
		<div class="card-header text-muted border-bottom-0">
			{$title ?? 'Adresa'}
		</div>
		<div class="card-body pt-0">
			<div class="row">
				<div class="col-12">
					<h2 class="lead"><b>{$address->getName()}</b></h2>
					<p class="text-muted text-sm" n:if="$address->getCompany()"><b>Firma: </b> {$address->getCompany()} </p>
					<ul class="ml-4 mb-0 fa-ul text-muted">
						<li class="small"><span class="fa-li"><i class="fas fa-lg fa-building"></i></span> Adresa:<br/>
							{$address->getStreet()} {$address->getHouseNo()}<br/>
							{$address->getPostcode()} {$address->getCity()} <br/>
							{$address->getRegion()->getName()}<br/>
							{$address->getCountry()->getName()}</li>

					</ul>
				</div>
				<div class="col-5 text-center">
					<img src="../../dist/img/user1-128x128.jpg" alt="" class="img-circle img-fluid">
				</div>
			</div>
		</div>
		<div class="card-footer d-flex justify-content-between">

				<span><i class="fas fa-lg fa-mail-bulk"></i> Email: {$address->getEmail()}</span>
			<span><i class="fas fa-lg fa-phone"></i> Telefon: {$address->getPhone()}</span>

		</div>
	</div>
</div>