
{block content}
<div class="col">
	<div class="card mt-4">
		<div class="card-body">
			<div class="callout callout-info">
				<h5>Seznam svozů, které je potřeba dovézt do střediska</h5>

				<p>Zde najdete volné svozy, které je potřeba zavést pro vaši lokalitu - <strong>{$currentUser?->getAddress()?->getRegion()?->getName() ?? 'Nejdříve je potřeba nastavit kraj ve Vaší adrese'}</strong>.</p>
			</div>


				<ul class="nav nav-tabs" role="tablist">
					<li class="nav-item">
						<a class="nav-link active" id="my-transport-tab" data-toggle="pill" href="#my-transport-content" role="tab" aria-controls="my-transport-content" aria-selected="true">Moje svozy <span class="badge badge-light">{count($myTransports)}</span></a>
					</li>
					<li class="nav-item">
						<a class="nav-link" id="available-transport-tab" data-toggle="pill" href="#available-transport-content" role="tab" aria-controls="available-transport-content" aria-selected="false">Dostupné svozy <span class="badge badge-light">{count($availableTransports)}</span></a>
					</li>
				</ul>
				<div class="tab-content" id="custom-content-below-tabContent">
					<div class="tab-pane fade active show" id="my-transport-content" role="tabpanel" aria-labelledby="my-transport-tab">
						{include 'transports.latte', transports => $myTransports}
					</div>
					<div class="tab-pane fade" id="available-transport-content" role="tabpanel" aria-labelledby="available-transport-tab">
						{include 'transports.latte', transports => $availableTransports}
					</div>

				</div>
			</div>
		</div>
	</div>
</div>
