
{block content}
<div class="col">
	<div class="card mt-4">
		<div class="card-body">
			<div class="row">
				<div class="col-12 pb-3">
					<div class="float-left">stav: {$transport->getStatus()->getLabel()}</div>
					<div class="float-right">
						<a href="{link setStatus!, App\Type\TransportStatusType::DONE}" class="btn btn-sm btn-success">Vyřízeno</a>
						<a href="{link setStatus!, App\Type\TransportStatusType::CANCELED}" class="btn btn-sm btn-danger">Zrušeno</a>
					</div>

				</div>
				{include 'address.latte', title => 'Adresa odběru', address => $transport->getFromAddress()}
				{include 'address.latte', title => 'Adresa dodání', address => $transport->getToAddress()}
				<div class="col" n:if="$transport->getDescription()">
					<h3>Poznámka</h3>
					<div class="direct-chat-text ml-0">
						{$transport->getDescription()}
					</div>

				</div>
			</div>

		</div>
		</div>
	</div>
</div>
