<table class="table">
	<thead>
	<tr>
		<th>Odkud</th>
		<th>Kam</th>
		<th>Stav</th>
		<th>Řidič</th>
		<th></th>
	</tr>
	</thead>
	<tr n:foreach="$transports as $transport">
		<td>{$transport->getFromAddress()}</td>
		<td>{$transport->getToAddress()}</td>
		<td>{$transport->getStatus()->getLabel()}</td>
		<td>{$transport->getDriver() ? $transport->getDriver()->getName() : null}</td>
		<td>
			{if $transport->getDriver() === null}
			<a href="{link setMeDriver!, $transport->getId()}" class="btn btn-success">Chci vyřídit</a>
			{else}
			<a href="{link detail, $transport->getId()}" class="btn btn-default">Detail</a>
			{/if}
		</td>
	</tr>
</table>