
{block content}
<div class="col">
	<div class="card mt-4">
		<div class="card-body">
			<div class="callout callout-info">
				<h5>Objednávky jsou dočasně pozastaveny</h5>

				<p>Z důvodu velkého vytížení se omlouváme, ale objednávky jsou pozastaveny</p>
			</div>
		</div>
	</div>
</div>
