{var $title = $address ? 'Adresa ' . $address->getName() : 'Nová adresa'}
{block content}
<div class="col">
    <div class="card">
        <div class="card-body">
            {control address}
        </div>
    </div>

</div>
