<div class="card">
    {form form}
        <div class="card-body">
            <div class="alert alert-danger" n:if="$form->hasErrors()">
                {foreach $form->errors as $error}
                    {$error}{sep}<br/>{/sep}
                {/foreach}
            </div>


            <h4 class="pt-4">Adresa</h4>
            <hr/>

            <div class="">
                <div class="row">
                    <div class="col">
                        {label address-firstName/}
                        {input address-firstName}
                    </div>
                    <div class="col">
                        {label address-lastName/}
                        {input address-lastName}
                    </div>
                </div>

                {label address-company/}
                {input address-company}



                <div class="row">
                    <div class="col-8">
                        {label address-street/}
                        {input address-street}
                    </div>
                    <div class="col">
                        {label address-houseNo/}
                        {input address-houseNo}
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        {label address-city/}
                        {input address-city}
                    </div>
                    <div class="col">
                        {label address-postcode/}
                        {input address-postcode}
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        {label address-region/}
                        {input address-region}
                    </div>
                    <div class="col">
                        {label address-country/}
                        {input address-country}
                    </div>
                </div>

                {label address-additional/}
                {input address-additional}

                {label address-phone/}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fas fa-phone"></span> </div>
                    </div>
                    {input address-phone}
                </div>

                {label address-email/}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fas fa-mail-bulk"></span> </div>
                    </div>
                    {input address-email}
                </div>

            </div>

            {label address-center/}
            {input address-center}
<div class="clearfix"></div>

            {input save, class => 'btn btn-success mt-3'}
        </div>
    {/form}
</div>
