{var $title = 'Produkty'}
{block contentRight}
<a href="{link detail}" class="btn btn-success float-right"><span class="fas fa-plus-circle"></span> Přidat produkt</a>
{/block}
{block content}
<div class="col">
<div class="card">
    <div class="card-body">
        {control grid}
    </div>
</div>

</div>
