{var $title = $product ? 'Produkt ' . $product->getName() : 'Nový produkt'}
{block content}
<div class="col">
    <div class="card">
        <div class="card-body">
            {control product}
        </div>
    </div>

</div>
