<div class="card">
    {form form}
        <div class="card-body">
            <div class="alert alert-danger" n:if="$form->hasErrors()">
                {foreach $form->errors as $error}
                    {$error}{sep}<br/>{/sep}
                {/foreach}
            </div>
            {label type/}
            {input type, class => 'select2', id => 'userType'}


            {label login/}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text">@</div>
                </div>
                {input login}
            </div>


            {label password/}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><span class="fas fa-lock"></span> </div>
                </div>
                {input password}
            </div>



            {label passwordVerify/}
            <div class="input-group">
                <div class="input-group-prepend">
                    <div class="input-group-text"><span class="fas fa-lock"></span> </div>
                </div>
                {input passwordVerify}
            </div>

            <h4 class="pt-4">Adresa</h4>
            <hr/>

            <div class="">
                <div class="row">
                    <div class="col">
                        {label address-firstName/}
                        {input address-firstName}
                    </div>
                    <div class="col">
                        {label address-lastName/}
                        {input address-lastName}
                    </div>
                </div>

                {label address-company/}
                {input address-company}



                <div class="row">
                    <div class="col-8">
                        {label address-street/}
                        {input address-street}
                    </div>
                    <div class="col">
                        {label address-houseNo/}
                        {input address-houseNo}
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        {label address-city/}
                        {input address-city}
                    </div>
                    <div class="col">
                        {label address-postcode/}
                        {input address-postcode}
                    </div>
                </div>

                <div class="row">
                    <div class="col-8">
                        {label address-region/}
                        {input address-region}
                    </div>
                    <div class="col">
                        {label address-country/}
                        {input address-country}
                    </div>
                </div>

                {label address-additional/}
                {input address-additional}

                {label address-phone/}
                <div class="input-group">
                    <div class="input-group-prepend">
                        <div class="input-group-text"><span class="fas fa-phone"></span> </div>
                    </div>
                    {input address-phone}
                </div>

            </div>
            <div id="driver" class="pt-3">
                <h4 class="pt-4">Řidič</h4>
                <hr/>
                <div class="row">
                    <div class="col-6">
                        {label driver-radius/}
                        {input driver-radius}
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-6">
            <input n:name="terms"> Souhlasím se <a href="#" data-toggle="modal" data-target="#termsModal"> zpracováním osobních údajů</a>
                </div>
            </div>
            {input save, class => 'btn btn-success mt-3'}
        </div>
    {/form}
</div>

<!-- Modal -->
<div class="modal fade" id="termsModal" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Souhlas se zpracováním osobních údajů]</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <p>Souhlasím se zpracováním osobních údaj v rozsahu <strong>jméno, příjmení, adresa, e-mail, telefonní číslo</strong>, a to za účelem výroby štítů na 3D tiskárně, případně jejich distribuce. Souhlas uděluji Janu Semotamovi, Nádražní 152, Šlapanice 66451. Souhlas uděluji na 1 rok.</p>

                <p>S výše uvedeným zpracováním udělujete svůj výslovný souhlas. Poskytnutí osobních údajů je dobrovolné. Souhlas lze vzít kdykoliv zpět, a to například zasláním emailu nebo dopisu na kontaktní údaje.</p>
            </div>

        </div>
    </div>
</div>
