<!DOCTYPE html>
<html lang="cs">

<head>
	<meta charset="utf-8"/>
	<link rel="apple-touch-icon" sizes="76x76" href="{$baseUrl}/assets/img/apple-icon.png"/>
	<link rel="icon" type="image/png" href="{$baseUrl}/assets/img/favicon.png"/>
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1"/>
	<title>Anticovid19.cz - 3D tiskem pomoci v boji proti šíření nákazy COVID-19</title>
	<meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0' name='viewport'/>
	<meta name="viewport" content="width=device-width"/>



	<!-- Bootstrap core CSS     -->
	<link href="{$baseUrl}/css/all.min.css?v={php echo filemtime(__DIR__.'/../../../www/css/all.min.css'); }" rel="stylesheet"/>
	<script src="{$baseUrl}/js/all.min.js?v={php echo filemtime(__DIR__.'/../../../www/js/all.min.js'); }" type="text/javascript"></script>
	<!-- Google Font: Source Sans Pro -->
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>
{block body}
	<body class="bg-light">
	{block bodyContent}

		{include 'layout/navbar.latte'}

	{block contentHeader}
		<div class="content-header" n:ifset="$title">
			<div class="container">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0 text-dark" n:inner-block="contentHeaderTitle">{$title}</h1>
					</div><!-- /.col -->
					<div class="col-sm-6">
						{block contentRight}
                        {/block}
                    </div><!-- /.col -->
				</div><!-- /.row -->
			</div><!-- /.container-fluid -->
		</div>
	{/block}
	{block contentWrapper}

			<div class="container">
				<div class="row">
					{block content}
					{/block}
				</div>

			</div><!-- /.container-fluid -->

	{/block}


	{include 'layout/footer.latte'}
	{snippet flashes}
		<script>
			const Toast = Swal.mixin({
				toast: true,
				position: 'top-end',
				showConfirmButton: false,
				timer: 5000,
				onOpen: (toast) => {
					toast.addEventListener('mouseenter', Swal.stopTimer)
					toast.addEventListener('mouseleave', Swal.resumeTimer)
				}
			})
			{foreach $flashes as $flash}
			Toast.fire({
				type: {$flash->type},
				title: {$flash->message}
			})
			{/foreach}
		</script>
	{/snippet}
	{/block}
	</body>
{/block}
<!--   Core JS Files   -->
</html>