{block content}
<div class="col-12">
<div class="pt-4 text-center">

    <h2>Chcete nebo potřebujete pomoct?</h2>
    <p class="lead">Zaregistrujte se</p>
</div>
</div>
<div class="col-12">
{control registrationControl}
</div>