{block content}
<div class="col-12">
<div class="pt-4 text-center">

    <h2>Registrace proběhla úspěšně, děkujeme!</h2>
</div>
</div>
<div class="col-12 text-center">
    Můžete se <a href="{link Login:}">přihlásit zde</a>.
</div>