
{block content}
<div class="col">
	<div class="card mt-4">
		<div class="card-body">
			<div class="callout callout-info">
				<h5>Kolik věcí máte u sebe?</h5>

				<p>Zde jednoduše pro evidenci zadejte počet vyrobených kusů. Tyto kusy následně můžete předat na jedno ze středisek / příp. objednat jejich svoz, pokud nemáte možnost donést osobně.</p>
			</div>
			{if $transport}
				<div class="alert alert-warning mt-4">
					Aktuálně máte objednaný svoz. Vyčkejte na řidiče.
				</div>
			{else}
				<a href="#" class="btn btn-info"  data-toggle="modal" data-target="#orderTransportModal">Objednat svoz</a>
				<!-- Modal -->
				<div class="modal fade" id="orderTransportModal" tabindex="-1" role="dialog" aria-labelledby="orderTransportModalLabel" aria-hidden="true">
					<div class="modal-dialog" role="document">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Objednat svoz na středisko</h5>
								<button type="button" class="close" data-dismiss="modal" aria-label="Close">
									<span aria-hidden="true">&times;</span>
								</button>
							</div>
							<div class="modal-body">
								{control transport}
							</div>
							<div class="modal-footer">
								<button type="button" class="btn btn-secondary" data-dismiss="modal">Zavřít</button>
							</div>
						</div>
					</div>
				</div>

			{/if}
			{form form}
				<table class="table">
				<tr>
					<td width="100">Kód</td>
					<td>Název</td>
					<td width="100">Vyrobeno</td>
					<td width="100">Ve výrobě</td>
					<td width="140"></td>
				</tr>
				{foreach $products as $product}
					{var $controlId = 'products-' . $product->getId()}
					<tr>
						<td>{$product->getCode()}</td>
						<td><strong>{$product->getName()}</strong></td>
						<td>{input $controlId . '-quantity', class => 'text-right'}</td>
						<td>{input $controlId . '-quantityProcess', class => 'text-right'}</td>
						<td class="text-right"><a data-toggle="collapse" href="#product-{$product->getId()}" role="button" aria-expanded="false" aria-controls="collapseExample" class="btn btn-default"><span class="fas fa-arrow-down"></span> více info</a></td>
					</tr>
					<tr class="collapse" id="product-{$product->getId()}">
						<td colspan="5">
							{$product->getDescription()|noescape}
						</td>
					</tr>
				{/foreach}
				</table>
				{input save, class => 'btn btn-success'}
			{/form}
		</div>
	</div>
</div>
