<div class="card">
    {form form}
        <div class="card-body">
            <div class="alert alert-danger" n:if="$form->hasErrors()">
                {foreach $form->errors as $error}
                    {$error}{sep}<br/>{/sep}
                {/foreach}
            </div>

                {ifset $form['fromAddress']}
                {label fromAddress/}
                {input fromAddress, class => 'select2'}
                {/ifset}

                {label toAddress/}
                {input toAddress, class => 'select2'}

                {label description/}
                {input description}



<div class="clearfix"></div>

            {input save, class => 'btn btn-success mt-3'}
        </div>
    {/form}
</div>
