<!-- Navbar -->
<nav class="navbar navbar-expand navbar-white navbar-light">
    <!-- Left navbar links -->
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="{link Homepage:}" n:class="nav-link, $presenter->isLinkCurrent('Homepage:*') ? active">Jak mohu pomoci?</a>
        </li>
       {* <li class="nav-item">
            <a href="{link Page:help}" n:class="nav-link, $presenter->isLinkCurrent('Page:help*') ? active">Jak mohu pomoci?</a>
        </li>*}
        {if $currentUser === null}
            <li class="nav-item">
                <a href="{link Registration:}" n:class="nav-link, $presenter->isLinkCurrent('Registration:*') ? active">Registrace</a>
            </li>
            <li class="nav-item">
                <a href="{link Login:}" n:class="nav-link, $presenter->isLinkCurrent('Login:*') ? active">Přihlášení</a>
            </li>
        {/if}
        {if $currentUser !== null && $currentUser->isAdmin()}
            <li class="nav-item">
                <a href="{link User:}" n:class="nav-link, $presenter->isLinkCurrent('User:*') ? active">Uživatelé</a>
            </li>
            <li class="nav-item">
                <a href="{link Address:}" n:class="nav-link, $presenter->isLinkCurrent('Address:*') ? active">Adresář</a>
            </li>
            <li class="nav-item">
                <a href="{link Product:}" n:class="nav-link, $presenter->isLinkCurrent('Product:*') ? active">Produkty</a>
            </li>
            <li class="nav-item ">
                <a href="#" class="nav-link disabled">Objednávky</a>
            </li>
            <li class="nav-item">
                <a href="{link Transport:}" n:class="nav-link, $presenter->isLinkCurrent('Transport:*') ? active">Svozy</a>
            </li>
        {/if}
        {if $currentUser !== null && $currentUser->isDriver()}
            <li class="nav-item">
                <a href="{link Driver:}" n:class="nav-link, $presenter->isLinkCurrent('Driver:*') ? active">Řidič</a>
            </li>

        {/if}
        {if $currentUser !== null && $currentUser->isPrinter()}
            <li class="nav-item">
                <a href="{link Printer:}" n:class="nav-link, $presenter->isLinkCurrent('Printer:*') ? active">Tiskárna</a>
            </li>

        {/if}

        {if $currentUser !== null && $currentUser->isCustomer()}
            <li class="nav-item">
                <a href="{link Order:}" n:class="btn, btn-success, text-white, nav-link, $presenter->isLinkCurrent('Order:*') ? active"><span class="fas fa-plus-circle"></span> Vložit objednávku</a>
            </li>

        {/if}
    </ul>
    {if $currentUser}
        <ul class="navbar-nav ml-auto">
            <li class="nav-item dropdown">
                <a class="nav-link" data-toggle="dropdown" href="#">
                    <i class="fas fa-user"></i>
                    {$currentUser->getLogin()}
                </a>
                <div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
                    <a href="{link Login:logout}" class="dropdown-item">
                        <i class="fas fa-sign-out-alt"></i>
                        Odhlásit se
                    </a>
                </div>
            </li>
        </ul>
    {/if}

</nav>
<!-- /.navbar -->