@import "../../node_modules/bootstrap/scss/bootstrap.scss";
@import "../../vendor/almasaeed2010/adminlte/build/scss/AdminLTE-raw.scss";


#ajax-spinner {
	background-image: url(../firmaplus/spinner.gif);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: 150px;
	z-index: 999999999999999999999999;
	width: 100%;
	height: 100%;
	display: table;
	position: fixed;
	top: 0;
	left: 0;
	background-color: #FFF;
	filter: alpha(opacity=80);
	opacity: 0.8;

}
