{var $title = $transport ? 'Upravit svoz' : 'Nový svoz'}
{block content}
<div class="col">
    <div class="card">
        <div class="card-body">
            {control transport}
        </div>
    </div>
</div>
